<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <context-param>
    <param-name>encode</param-name>
    <param-value>UTF-8</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.atguigu.bookstore.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookManagerServlet</display-name>
    <servlet-name>BookManagerServlet</servlet-name>
    <servlet-class>com.atguigu.bookstore.servlet.BookManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookManagerServlet</servlet-name>
    <url-pattern>/BookManagerServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>WhoFilter</display-name>
    <filter-name>WhoFilter</filter-name>
    <filter-class>com.atguigu.bookstore.utils.WhoFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>WhoFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>BookClientServlet</display-name>
    <servlet-name>BookClientServlet</servlet-name>
    <servlet-class>com.atguigu.bookstore.servlet.BookClientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookClientServlet</servlet-name>
    <url-pattern>/BookClientServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>KaptchaServlet</servlet-name>
    <servlet-class>com.google.code.kaptcha.servlet.KaptchaServlet</servlet-class>
    <init-param>
      <param-name>kaptcha.session.key</param-name>
      <param-value>code</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>KaptchaServlet</servlet-name>
    <url-pattern>/code.jpg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartServlet</display-name>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>com.atguigu.bookstore.servlet.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/CartServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>EncodeFilter</display-name>
    <filter-name>EncodeFilter</filter-name>
    <filter-class>com.atguigu.bookstore.filter.EncodeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodeFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>OrderClientServlet</display-name>
    <servlet-name>OrderClientServlet</servlet-name>
    <servlet-class>com.atguigu.bookstore.servlet.OrderClientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderClientServlet</servlet-name>
    <url-pattern>/OrderClientServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.atguigu.bookstore.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/OrderClientServlet</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>OrderManagerServlet</display-name>
    <servlet-name>OrderManagerServlet</servlet-name>
    <servlet-class>com.atguigu.bookstore.servlet.OrderManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderManagerServlet</servlet-name>
    <url-pattern>/OrderManagerServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>TransactionFilter</display-name>
    <filter-name>TransactionFilter</filter-name>
    <filter-class>com.atguigu.bookstore.filter.TransactionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>TransactionFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>